body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    text-decoration: none;
    list-style-type: none;
    color: red;
}